# ==========================================
# 🔐 CONFIGURACIÓN DEL ENTORNO (.env)
# Archivo que guarda variables sensibles
# como credenciales o puertos del servidor.
# No debe subirse al repositorio (por eso
# se incluye en el .gitignore).
# ==========================================

# 👤 Usuario de la base de datos PostgreSQL
DB_USER=postgres

# 🖥️ Dirección del servidor donde corre la base de datos
DB_HOST=localhost

# 🗂️ Nombre de la base de datos que estás usando
DB_NAME=senasoft_bicicletas

# 🔑 Contraseña del usuario de PostgreSQL
DB_PASS='' # aqui va tu  contraseña

# ⚙️ Puerto por donde se conecta PostgreSQL (por defecto 5432)
DB_PORT=5432
